#content {
     margin-left: 20px;
}
h1{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
}
p{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
}
body{
	font-family: "Times New Roman", Times, serif;
}