#content {
     margin-left: 20px;
}
#g1{
  float: right;
  border: double 5px;
  width:250px;
  height:250px; 
  margin-top:50px;
  margin-right:50px;
}
#gs{
	margin-left:20px;
}
#sp{
	margin-left:20px;
}
h1{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
}
p{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
}
body{
	font-family: "Times New Roman", Times, serif;
}